################################################
#                                              #
# wxPi.py WUnderground configuration file      #
#                                              #
################################################

# WUnderground account information
ID: Your_Id_Here
PASSWORD: Your_Password_Here

# Include indoor temperature and humidity values in the values sent to the 
# WUnderground PWS system?
#includeIndoor: False

# Verbose output of the packet decoding process
#verbose: True

# Station elevation in meters
#elevation: 0

# Radio input GPIO pin
#radioPin: 18

# Recording duration in seconds
#duration: 90

# Enable reading a BMP085/BMP180 sensor over I2C
#enableBMP085: True

# LED GPIO pins.  Setting each to -1 disables the LED
# Red LED pin
#redPin: 27

# Yellow LED pin
#yellowPin: 17

# Green LED pin
#greenPin: 4
