################################################
#                                              #
# wxPi.py WUnderground configuration file      #
#                                              #
################################################

# WUnderground account information
ID: Your_Id_Here
PASSWORD: Your_Password_Here

# Include indoor temperature and humidity values in the values sent to the 
# WUnderground PWS system?
#includeIndoor: False

# Verbose output of the packet decoding process
#verbose: True

# Station elevation in meters
#elevation: 0

# Recording duration in seconds
#duration: 90

# LED GPIO pins
# Red LED pin
#red: 27

# Yellow LED pin
#yellow: 17

# Green LED pin
#green: 4
