<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="/css/themes/wxPi.min.css" />
  	<link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
	<link href="/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/jquery.mobile-1.4.5.min.js"></script>
	<style>
	.ui-hide-label.ui-br, .no-field-separator {
		border-bottom-width: 0;
	}
	.ui-field-contain.ui-hide-label, .no-field-separator {
		margin: 1em 0;
		padding: 0;
	}
	</style>
</head>
<body>
	<div id="indoor" data-role="page">
	
	<script type="text/javascript">
		function updateClock() { 
			// get local time
			var date = new Date();
			var lt = new Date( date.getTime() + {{ kwds.get('tzOffset') }}*1000 );
			var year = lt.getUTCFullYear();
			var month = lt.getUTCMonth() + 1;
			var day = lt.getUTCDate();
			var hours = lt.getUTCHours();
			var minutes = lt.getUTCMinutes();
			var seconds = lt.getUTCSeconds();
			if (day < 10) {
				day = "0" + day;
			}
			if (month < 10) {
				month = "0" + month;
			}
			if (hours < 10) {
				hours = "0" + hours;
			}
			if (hours > 12) {
				hours = hours - 12;
				ampm = "PM";
			} else {
				ampm = "AM";
			}
			if (minutes < 10) {
				minutes = "0" + minutes;
			}
			if (seconds < 10) {
				seconds = "0" + seconds;
			}
			var lts = year + "/" + month + "/" + day;
			lts = lts + " " + hours + ":" + minutes + ":" + seconds + " " + ampm;

			// update text fields
			var span = document.getElementById('ltClock');
			span.innerHTML = lts;
			
			setTimeout("updateClock()", 1000); 
		}
		
		function setSummary(data) {
			wxReport = "";
			if( data.hasOwnProperty['indoorTemperature'] ) {
				wxReport += data['indoorTemperature'].toFixed(1)+"&deg; F with "+data['indoorHumidity']+"% humidity<br />";
				wxReport += " dew point is "+data['indoorDewpoint'].toFixed(1)+"&deg; F<br />";
				wxReport += " barometric pressure is "+data['pressure'].toFixed(2)+" in-Hg<br />";
				$('#temperature').html(wxReport);
			}
			
			wxReport = "";
			if( data.hasOwnProperty("comfortLevel") ) {
				if( data['comfortLevel'] != 'unknown' ) {
					wxReport += output['comfortLevel'];
					$('#comfort').html(wxReport);
				}
			}
		}
		
		function pollSummary() {
			$.ajax({url: "/query/summary",
				    type: "GET",
					success: setSummary,
					dataType: "json",
					complete: setTimeout(function() {
										if( document.getElementById('indoorPage') != null ) {
											pollSummary();
										}
									}, 15000),
					timeout: 2000
			});
		}
		
		function onload() {
			updateClock();
			pollSummary();
		}
		
		$(document).on("pageshow", "#indoor", onload);
	</script>
	
	<div id="indoorPage"></div>
	
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<h1 class="ui-title" role="heading" aira-level="1">wxPi</h1>
	</div>
	<div data-role="main" class="ui-content">
		<div class="ui-field-contain">
			<h3 class="ui-title" role="heading" aira-level="1">Local Time</h3>
			<span id="ltClock" class="clock"></span><br />
		</div>
		
		<div class="ui-field-contain">
			<h3 class="ui-title" role="heading" aira-level="1">Indoor Conditions</h3>
			<h4>Temperature</h4>
			<span id="temperature">Not provided.</span>
			<h4>Comfort</h4>
			<span id="comfort">Not provided.</span>
		</div>
	</div>
	<br />
	<div data-role="footer" role="banner" class="ui-header ui-bar-inherit">
                <div data-role="navbar">
                        <ul>
                                <li><a href="/">Outdoor</a></li>
                                <li><a href="/indoor">Indoor</a></li>
                                <li><a href="/configure">Configuration</a></li>
                        </ul>
                </div>
        </div>
</body>
</html>
